<html lang="en">
    <head>
       
    </head>
    <body>
  
       
   <div class="container">

      <div class="row" >
          <img src="/assets/mjlogo.png" class="img-responsive img-polarid" alt="Responsive image">
      </div>

       <div class="row">
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
       </div>
        <div class="row">
                  <div class=".col-md-4">
                        <section>
                            <h2>About Maheshwari Jagruth</h2>
                            <p style="text-align:justify;"> <strong>Maheshwari Jagruth</strong> is a E-Portal Social Networking Site operating in the Maheshwari Community.
                            Maheshwari Jagruth is a platform to Reach, Serve, Strengthen & Sustain the Maheshwari Community  Nationally and Internationally.
                            Maheshwari Jagruth wishes to Reach and Encourage the Enterprising Stars of our community and provide them with equal opportunities to discover their True Potential and Worth .
                             This would help us in tapping recognizing the hidden potential and preserving our rich culture and traditions in which we take Immense Pride. </p>
                            <!-- <footer class="controls">
                                <a href="http://html5up.net" class="button">More cool designs ...</a>
                            </footer> -->
                        </section>
                    
                    </div>

                    <div class=".col-md-4">
                        
                        <section>
                            <h2>The Site Designed : </h2>
                            <ul class="small-image-list">
                                  <img src="/assets/home/onlymj.png" alt="Mj" class="img-responsive" alt="Responsive image"   style="margin-top:2.5em;"/> 
                                <li>
                                   
                                    <h3>By the Maheshwaris</h3> 
                                    <h3>For the Maheshwaris</h3>  
                                    <h3  >Of the Maheshwaris</h3>                                     
                                </li>

                                <li>
                            </ul>

                             <h3>MJ prime objectives are :-</h3>
                                       
                                
                                    <ul class ="link-list">  
                                <li>Business promotion</li>
                                <li style="border-top: solid 1px #ced0b7;">Social activities</li>
                                <li style="border-top: solid 1px #ced0b7;">Health awareness</li>
                                <li style="border-top: solid 1px #ced0b7;">News and entertainment</li>
                                

                            </ul>
                        </div>
                    
                            <div class ="6u">
                            <ul class ="link-list"> 
                                    <li>Employment</li>
                                <li style="border-top: solid 1px #ced0b7;">Live coverages</li>
                                <li style="border-top: solid 1px #ced0b7;">One stop shop</li>
                                <li style="border-top: solid 1px #ced0b7;">Matrimonials</li>
                                
                            
                            </ul>
                        </div>
                                </div>              

                        </li>  
                                
                            </ul>
                        <p style="text-align:center;"> Family Directory </p>

                    
                        </section>
                    
                    </div>
                    <div class=".col-md-4">
                    
                        <section>
                            <h2>The Name Says Everything !</h2>
                            <div>
                                <div class="rowa">
                                    <div class="12u">
                                        <ul class="link-list">
 
                                            <li><a href="" class="heading">M</a>&nbsp; &nbsp;Maheswari Community </li>
                                            <li><a href="#" class="heading">A</a> &nbsp;&nbsp;Awareness </li>
                                            <li><a href="#" class="heading">H</a>&nbsp;&nbsp;Health </li>
                                            <li><a href="#" class="heading">E</a>&nbsp;&nbsp;Entertainment </li>
                                            <li><a href="#" class="heading">S</a>&nbsp;&nbsp;Social Activity </li>
                                            <li><a href="#" class="heading">H</a>&nbsp;&nbsp;Help </li>
                                            <li><a href="#" class="heading">W</a>&nbsp;&nbsp;Work </li>
                                            <li><a href="#" class="heading">A</a> &nbsp;&nbsp;Awards </li>
                                            <li><a href="#" class="heading">R</a> &nbsp;&nbsp;Recognition </li>
                                            <li><a href="#" class="heading">I</a> &nbsp;&nbsp;Individual Developement </li>
 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                        <!-- <div class="rowa">
                                 <div class= "6u">
                                    <ul class ="link-list">  
                                <li>Business promotion</li>
                                <li style="border-top: solid 1px #ced0b7;">Social activities</li>
                                <li style="border-top: solid 1px #ced0b7;">Health awareness</li>
                                <li style="border-top: solid 1px #ced0b7;">News and entertainment</li>
                                

                            </ul>
                        </div> -->

        </div>
        <div class="row">
                   
                        <section>
                            <h2>MJ is for the awareness and prosperity of the community 
                                 Business promotion </h2>
                     
                            <ul class="big-image-list" >
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image" src="/assets/home/business_promotion.jpg" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">Business promotion </h3>
                                    <p>It provides  information of business activities within the community, inaugural of new stores, encouragement of new ventures. MJ helps in flourishing the existing business and invites new ventures which helps the community to strengthen their place and promote National Developement.</p>
                                </li>
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image" src="/assets/home/social_activity.jpg" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">Social activities </h3>
                                    <p>It has a biased platform for discussions, debates, expression of thoughts on current affairs and issues.</p>
                                </li>
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image" src="/assets/home/health.jpeg" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">Health</h3>
                                    <p>It is the most important segment of our site. At times we are in a very crunch situation where our mind losses the capacity to handle it, and MJ provides us with all the information regarding the doctors, hospitals, etc.</p>
                                </li>
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image"  src="/assets/home/news_and_entertainment.jpg" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">News and Entertainment </h3>
                                    <p>MJ is a site which will in particular provide you with complete news of the community, and entertain you with 'N' number of programs.</p>
                                </li>
                            </ul>
                        </section>

        </div>
         <div class="row">
                    
                        <section>
                         
                            <ul class="big-image-list">
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image" src="/assets/home/employement.jpg" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">Employment</h3>
                                    <p>It reveals information regarding employment options across the globe with a click from you.</p>
                                </li>
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image" src="/assets/home/live_coverage.jpg" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">Live coverage </h3>
                                    <p>Whatever be the occasion, we are here with a solution. MJ team provides the opportunity of live coverage of Festivals, Parties, Rallies, Religious Functions and Events etc.</p>
                                </li>
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image" src="/assets/home/one_stop_shop.jpg" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">One Stop Shop </h3>
                                    <p>It has setup a huge platform for all classes of people to participate. Be a housewife, Professionals or a Retired senior citizen, MJ gives all the opportunities to display their Talent, Skill and Products without having the need to step out of their house.
                                    </p>
                                </li>
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image"src="/assets/home/matrimony.jpg" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">Matrimony</h3>
                                    <p>It arranges social gatherings, gives complete information regarding Bride / Groom of the community which helps in finding a perfect match.</p>
                                </li>
                                <li>
                                    <div class="shrink pic">
                                    <img class="img-responsive" alt="Responsive image" src="/assets/home/family_directory.gif" alt="" class="left" />
                                    </div>
                                    <h3 style="color:#325f85">Family directory</h3>
                                    <p> This is specially designed keeping in mind the pace at which we are moving today where we tend to forget names at times. This special segment helps you to know not only your Grand fathers, but your Great Grand fathers too. All this and much more.
                                    </p>
                                </li>
                            </ul>
                        </section>

         </div>
         <div class="row">
                    <center>
                        <p>
                            To Avail this, all you need to do is get Yourself and all your Family Members, Registered with Maheshwari Jagruth.
                        </p>  
                        <p>
                            Your registration is our consideration of you joining this movement of upliftment and 
                        </p>
                        <p>
                            Prosperity of the Community in this very Unique and Modernized way.
                        </p>
                            <br/>
                        <h2>
                            " Together we can and we will make a difference " 
                        </h2>
                        <footer class="controls">
                                <blink><a href="/ads" class="button">Enter Maheshwari Jagruth</a></blink>
                            </footer>
                    </center>
                 
            </div>   
 
     
          
                  <div class="row">
                        
                        <section>
                            <h2>Contact Us</h2>
                            <div>
                                <div class="row">
                                    <div class="3u">    

                                         
                                             <h3>Admin Office :</h3>
                                             <p>Maheshwari Jagruth</p>
                                             <p>5-1-237, First Floor</p>
                                             <p>Hill Street, Ranigunj</p>
                                             <p>Secunderabad - 500 003</p>
                                             <p>AndhraPradesh (India) </p>
                                         
                                    </div>
                                    <div class="3u"><br><br><br>
                                        <p>Contact Number :</p>
                                        <p style= "color:blue"> <u> 90 300 27648</u></p>
                                        <p>Email:   
                                            <a href="mailto:info@maheshwarijagruth.com?Subject=Contact%20User" target="_top">
                                                        info@maheshwarijagruth.com
                                            </a>
                                        </p>

                                    </div>
                                 
                                </div>
                            </div>
                        </section>
                    </div>
         
        </div>
    <!-- ********************************************************* -->
    </body>
</html>

