<div class="row" style="padding-top:2em">
   

<div class="span4">
      <address>
         <div id="page-title">
              <cite title="Source Title">ASHISH BAJAJ
              </cite>
        <small>
 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Manager:Public Relations</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Contact no:90 300 27649
        </small>
    </div>
    <div id="page-title">
              <cite title="Source Title">YASH JAJU
              </cite>
        <small>
 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Incharge:Facebook,Twitter</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Contact no:90 300 27648
        </small>
    </div>
    <div id="page-title">
              <cite title="Source Title">AJAY LAHOTI
              </cite>
        <small>
 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Incharge:Family Directory</p>
        </small>
    </div>
    <div id="page-title">
              <cite title="Source Title">SURESH ASAWA
              </cite>
        <small>
 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Incharge:Events</p>
        </small>
    </div>
    <div id="page-title">
              <cite title="Source Title">KANIKA BIRLA
              </cite>
        <small>
 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Incharge:Delhi Operations</p>
        </small>
    </div>
     5-1-237, First Floor<br>
    Hill Street,Ranigunj<br>
    Secunderabad - 500 003<br>
    Andhra Pradesh (India)<br>
    <abbr>Ph:</abbr>&nbsp;90 300 27648 / 49<br><br>

     <strong>Email:</strong><br>
    <i class="icon-envelope"></i>
    <a href="mailto:info@maheshwarijagruth.com#">info@maheshwarijagruth.com</a>
<br>
    <strong>Site URL:</strong><br>
    <i class="icon-globe"></i>
    <a href="/">maheshwarijagruth.com</a>
    </address>
 
 </div>
</div>
