  <div class="panel panel-primary">
     <h1>Festivals Celebrated by Maheshwari</h1>
     <div class="panel-body">
                Here are the list of festivals celebrated by maheshwari peoples along with their importance and details why these festivals are celebrated.


    </div>
     <br>
   </div>


    <div class="table-responsive">
        
        <table class="table  table-bordered table-hover" >
         
          <thead>
            
            <tr>
              <th>Month of Celebration</th>
              <th>Festivals</th>
              <th>Improtance of Festival</th>
            </tr>

          </thead>

          <tbody>

            <tr>
              <td>January</td>
              <td>Makara Sankranthi</td>
              <td> We dnt knw</td>
            </tr>

           <tr>
           	  <td>January</td>
              <td>Vasant Panchami</td>
              <td>Vasant Panchami is celebrated for the blessing of Saraswati, goddess of wisdom and the arts</td>
           </tr>
           <tr>
              <td>March</td>
              <td> Maha Shivratri</td>
              <td>Maha Shivaratri is the great night of Shiva, followers of Shiva observe religious fasting and the offering of Bael (Bilva) leaves to the Shiva.</td>
           </tr>
           <tr>
              <td>March</td>
              <td>Holi</td>
              <td>Holi or Phagwah is a popular spring festival. Holi commemorates the slaying of the demoness Holika by Lord Vishnu's devotee Prahlad. Thus, the festival's name is derived from the Sanskrit words "Holika Dahanam", which literally mean "Holika's slaying"</td>
           </tr>
             <tr>
              <td>March</td>
              <td> Ram navmi  </td>
              <td>Rama Navami is the celebration of the birth of Rama.</td>
           </tr>
            <tr>
              <td>March</td>
              <td> Hanuman jayanti</td>
              <td>Hanuman Jayanti is the celebration of the birth of Hanuman, Rama's loyal devotee.</td>
           </tr>
            <tr>
              <td></td>
              <td> Vat Pornima</td>
              <td>Vat Pournima is observed in Maharashtra. Pournima means "full moon." Women pray for the prosperity of their husbands by tying threads around a banyan tree.</td>
           </tr>
            <tr>
              <td>August</td>
              <td>Raksha Bandhan</td>
              <td>Raksha Bandhan is a festival celebrated mainly in northern Indian states. Rakhi is a special occasion to celebrate the chaste bond of love between a brother and a sister.</td>
           </tr>
            <tr>
              <td>September</td>
              <td>Krishana Janmashtami</td>
              <td>Krishna Janmaashtami is the Hindu festival celebrating the birth of Krishna. It is actually called as Krishna Jayanthi. The date falls not only on the eight day of the waning moon, but always on Rohini Nakshatra.</td>
           </tr>
            <tr>
              <td>Sepetember</td>
              <td>Ganesh Chaturthi</td>
              <td>Ganesh Chaturthi is the celebration of the birth of Ganesh.</td>
           </tr>
            <tr>
              <td>Sept-Oct  </td>
              <td>Navratri</td>
              <td>Navarathri is the Hindu festival of worship and dance. In Sanskrit the term literally means "nine nights". During this festival the forms of Shakti are worshiped.</td>
           </tr>
            <tr>
              <td></td>
              <td>VijayaDashmi</td>
              <td>Vijayadashami is the  celebration of good over evil.</td>
           </tr>
            <tr>
              <td>Novemeber</td>
              <td>Diwali</td>
              <td>Deepavali which means "row of lights/lamps" is called "Divali" in North India, Deepa means lamp and in Hindi a lamp is mostly called a Diya or Di. The festival is celebrated on the occasion of Lord Krishna and his wife Satyabhama killing a demon Narakasura. Another story says the festival is celebrated for the return of Rama and Sita to the kingdom Ayodhya after fourteen years of exile</td>
           </tr>
            <tr>
              <td>Novemeber</td>
              <td>Bhai Dhuj</td>
              <td>Bhai dooj, also referred to as Bhaubeej, is the ceremony performed by Hindus, generally, on the second day of Deepavali. It is celebrated among brothers and sisters and is similar to Raksha Bandhan, except there is no tying of rakhi involved.</td>
           </tr>
           <!-- Add more Festivals HERE -->
           <!--  <tr>
              <td></td>
              <td></td>
              <td></td>
           </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
           </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
           </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
           </tr> -->
          




          </tbody>
        </table>
      </div>