  <h1> God Wise Kuldevi </h1>

  <div class="table-responsive">
      
      <table class="table  table-striped table-bordered table-hover">
       
        <thead>
          
          <tr>
            <th>Name of Goddess</th>
            <th>Surnames</th>
            <th>Location</th>
           </tr>

        </thead>

        <tbody>
          <tr>
            <td>Nausar Mata</td>
            <td>Ajmera</td>
            <td colspan="3">Kaner, Dist.Chittodgad, 5 kms from Ajmer in Pushkar valley.
            </td>
          </tr>

          <tr>
            <td>Asavari Mata</td>
            <td>Asava, Kalya</td>
            <td>New large temple in Ossia, 10 kms from Jaisalmer, at Didwanna, 12 kms from Kiradu Barmer</td>
          </tr>

          <tr>
            <td>Nausar Mata</td>
            <td>Ajmera</td>
            <td colspan="3">Kaner, Dist.Chittodgad, 5 kms from Ajmer in Pushkar valley.
            </td>
          </tr>

         <tr>
           <td>Sachhiyay Mata</td>
           <td>Mantri ,Attal, Karva, Kasat, Surjan, Daga, Damani, Karnani, Dhurya, Kela, Partani, Birla, Randar, Gandhi, Raiwal, Malu, Sarda, Kothari, Kanugo, Rathi, Ragdani, Dammani, Malani, Mutha, Lakhani, Phafat, Modi, Mohata, Sikchi, Lakotia, Biyani </td>
           <td>At Ossia, 61 kms by bus  and 61 kms by train from  Jodhpur, on Jodhpur – Jaisalmer broad guage  Railway line.  Can also be reached from Bikaner via Faloudi</td>
         </tr>
         <tr>
          <td>Bhaisad mata</td>
          <td>Agiwal</td>
          <td>At Pada Mata Didwana</td>
         </tr>
         <tr>
            <td>Aamal Mata</td>
            <td>Kakani</td>
            <td>Mandesar Udaipur, village Riched, Tehsil Kumbhalgad, Dist. Rajsamand. Can be reached from Ajmer to Udaipur road via Charbhuja.  From Jodhpur on road to Kumbhlagad</td>
         </tr>
         <tr>
            <td>Likasan Mata</td>
            <td>Kahalya, Dhoot</td>
            <td>At Choti Khatu, Village Likasan, Dist. Nagaur (abt 6-7 Kms far from Nagaur) From Didwana 18 kms, from Choti Khatu 4 miles east)</td>
         </tr>
         <tr>
            <td>Chavada Mata</td>
            <td>Kalantri, Kalani, Gattani, Tavri, Pallod, Bhansali, Modani, Lahoti, Bhattad</td>
            <td>In between Medta City and Medta Road. Also in Chamunda village, Dist Jodhpur near Keru.  Also in between Pushkar – Ajmer. A temple is also in Jodhpur fort.</td>
         </tr>

         <tr>
            <td>Pattaya Mata</td>
            <td>Kachaulya, Gagrani, Devpura, Naulakha, Bidada</td>
            <td>At Didwana</td>
         </tr>
         <tr>
              <td>Susmaad Mata</td>
              <td>Kabra</td>
              <td>At Ganpat Singh, Madan Singh Sisodiya, Peula marg, KUCHERA (Nagaur) abt 1.5 kms near kuchera in a field own by a rajput</td>
         </tr>
         <tr>
            <td>Bandhar Mata</td>
            <td>gadeiyaChapparwal, Somani, Marda</td>
            <td>Located on the hillock at tanagaon, which is 10 kms from Mogargaon, on left hand side on the road leading to Aakola on Udaipur to Chitor Road . About 70 kms from Udaipur</td>
         </tr>
         <tr>
              <td>Bhadrakali Mata</td>
              <td>Daad, Porwal, Boon</td>
              <td>Located in Mahakali Mandir at Hanumangadh (Bikaner), Gujarat</td>
         </tr>
         <tr>
          <td>Ashapura Mata </td>
          <td>Taparia, Chandak, Patwa, Bhaiya </td>
          <td>Located near the lake in Peepal gaon which is abt 4 miles awayPerlaad, which is turn is 14 mils from Ashapur (Uadipur). There is a temple in Nadol, Pali District. An ancient temple is near Asani Fort</td>
         </tr>
         <tr>
            <td>Daghvant Mata </td>
            <td>Chechani, Dayma, Bharadia </td>
            <td>Located in Kirna Saria village, near Manglore village in Nagaur district, about 6 miles from Rolegaon</td>
         </tr>
         <tr>
              <td>Falodhi Mata  </td>
              <td>Jaju, Dhupad, Heda  </td>
              <td>Located in Medta Road (Naguar) inside Shri Falaudi Brahmani Maneshwari Temple, west of Ramganj Station</td>
         </tr>
         <tr>
            <td>Sisnay Mata </td>
            <td>Jakhotia</td>
            <td>Mandalgaon (Bhilwada)</td>

         </tr>
         <tr>
            <td>Khunkhar Mata </td>
            <td>Toshniwal, Totla, Modi  </td>
            <td>Vil. Toshni, Dist. Nagaur. Khokhari mata temple located in Tivari, about 22 kms norty of Jodhpur</td>

         </tr>
         <tr>
            <td>Naganechi Mata  </td>
            <td>Dargad, Bhandari  </td>
            <td>At Negadia, Nathara, Udapura, Bikaner</td>

         </tr>
         <tr>
            <td>Shamal Mata </td>
            <td>Lohia </td>
            <td>Located at Petaran Patti. Can be reached via Byawar</td>

         </tr>
         <tr>
            <td>Dharjal Mata  </td>
            <td>Navdhar</td>
            <td>At Pokharan, Dist. Jaisalmer</td>

         </tr>
         <tr>
            <td>Gayal Mata  </td>
            <td>Bajaj, Lahoti (Sanvad), Jhavar  </td>
            <td>Located at Aasop, abt 40 kms from Medata city via Goran on Jodhpur Road. The diety was found in Paldhi near Jalgaon</td>

         </tr>
         <tr>
            <td>Mundal Mata </td>
            <td>Mundada</td>
            <td>At Mundiyad village, in Mundhiwad, 28 miles from Nagaur</td>

         </tr>
         <tr>
            <td>Khiwanj Mata  </td>
            <td>Bhutada</td>
            <td>2 kms from Pokharan</td>

         </tr>
         <tr>
            <td>Sendal Mata </td>
            <td>Baheti, Dagra, Pansari,gholkiya </td>
            <td> Ramgaon near Jaisalmer</td>

         </tr>
         <tr>
            <td>Hinglad Mata  </td>
            <td>Baldava</td>
            <td>Village Laudrava, Dist. Jaisalmer . Original temple in Sivan in Badmer.
           </td>

         </tr>
         <tr>
            <td>Manudhani Mata  </td>
            <td>Mandhaniya  </td>
            <td>In the house of Guru Rajendrakumar Sukhdeviji Vyas, koth Mohalla, Didwan
             </td>

         </tr>
         
         <tr>
             <td>Dhaulesari Rui Mata  </td>
             <td>Mandovara</td>
             <td>Located on the hillock at Vahatu village in Dist Alwar
            </td>

         </tr> 

         <tr>
            <td>Sevlya Maata  </td>
            <td>Soni</td>
            <td>In Oosia, Bagov, Tehsil Mandal, Dist. Bhilwada</td>
         </tr> 
         <tr>
            <td>Jhin Mata </td>
            <td>Sodhani </td>
            <td>At 10 kms south of Sikkar in Aravali Hills, about 6 miles from Goria station
            </td>
         </tr> 
         <tr>
            <td>Sati Mata </td>
            <td>Bharadia  </td>
            <td>Vambori, about 30 kms from Chitod or 22 kms fromNimvaheda</td>
         </tr> 
         <tr>
            <td>Nausalya</td>
            <td>Kharwad</td>
            <td>Located in the field of Khatodji at Dahadi, The. Jaavad, Dist. Mandsaur
            </td>
         </tr> 
         <tr>
            <td>Mata</td>
            <td>Kharwad</td>
            <td>Khatodji at Dahadi, The. Jaavad, Dist. Mandsaur
          </td>
         </tr> 
         <tr>
            <td>Dayal Mata
              (Matri Mata)</td>
            <td>Porwal, Gilda (Mutha) </td>
            <td>In Deru village after alighting at Jorapur Bus Stand on Jodhpur Nagore Road abt 20 kms far from Nagaur
            </td>
         </tr> 
         <tr>
            <td>Baakal Mata (Baikeshwari Mata)(Beesal Mata) </td>
            <td>Laddha</td>
            <td>At Ummednagar, Ossia Tehsil, Dist Jodhpur. On Bhilwada Raipur road
            </td>
         </tr> 
         <tr>
            <td>At Ummednagar, Ossia Tehsil, Dist Jodhpur. On Bhilwada Raipur road
            </td>
            <td>Bhattad, Malpani, Lathi </td>
            <td>At Bhadaria Village, in Jaisalmer dist.about 40 kms from ramdevraya Pokran
            </td>
         </tr> 
         <tr>
            <td>Karni Mata  </td>
            <td>Chandak </td>
            <td>At deshnokh..</td>
         </tr> 
     
      </tbody>
    </table>
</div>