<div class="panel panel-default">
  <div class="page-header">
  <h1>Gotras </h1>
</div>
</div>

 <div class="table-responsive">
      
  <table class="table table-striped table-borderd table-hover">
       
        <thead>
          <tr>
            <th>S.NO</th>
            <th>Khap(Surname)</th>
            <th >Gotra</th>
          </tr>
        </thead>

  <tbody>

          <tr >
            <td>1</td>
            <td>Agiwal</td>
            <td> Chandrans</td>
          </tr>


       <tr >
      <td>2</td>
      <td>Aagsud</td>
      <td>Kaschyap</td>
      </tr>
    <tr >
      <td>3</td>
      <td>Ajmera</td>
      <td>Manans</td>
    </tr>
    <tr >
      <td>4</td>
      <td>Asawa</td>
      <td>Panchans</td>
    </tr>         
    <tr>
     <td>5</td>
     <td>Attal</td>
     <td>Gataumasya</td>
    <tr>
     <td>6</td>
     <td>Baheti</td>
     <td>Silansh</td>
    </tr>   
    <tr>
     <td>7</td>
     <td>Bajaj</td>
     <td>Bhansali</td>
    <tr>
      <td>8</td>
      <td>Baladi</td>
      <td>Loras</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Baldwa</td>
      <td>Balans</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Bangad</td>
      <td>Chudans</td>
    </tr>

    <tr> 
        <td>11</td>
        <td>Bhandari</td>
        <td>Kaushik</td>
    </tr>
   <tr>
      <td>12</td>
      <td>Bhansali</td>
      <td>Bhansali</td>
   </tr>  
   <tr>
      <td> 13  </td>
      <td> Bhattad  </td>
      <td> Bhattayans  </td>
   </tr>
  <tr>
      <td> 14  </td>
      <td> Bhuradya  </td>
      <td> Achitrans  </td>
   </tr>
   <tr>
      <td>  15 </td>
      <td> Bhutda  </td>
      <td> Attalans  </td>
   </tr>
   <tr>
      <td> 16  </td>
      <td>Bidada   </td>
      <td>  Gajans </td>
   </tr>
   <tr>
      <td> 17  </td>
      <td>  Birla </td>
      <td> Balans  </td>
   </tr>
   <tr>
      <td>18   </td>
      <td> Biyani  </td>
      <td>Balans   </td>
   </tr>
   <tr>
      <td> 19  </td>
      <td>Boob   </td>
      <td>  Musayas </td>
   </tr>
   <tr>
      <td> 20  </td>
      <td> Bung  </td>
      <td> Sandhans  </td>
   </tr>
   <tr>
      <td>  21 </td>
      <td> Chandak  </td>
      <td> Chandrans  </td>
   </tr>
   <tr>
      <td> 22  </td>
      <td>Chaparwal   </td>
      <td>Kaushik   </td>
   </tr>
   <tr>
      <td> 23  </td>
      <td> Chechani  </td>
      <td> Sesans  </td>
   </tr>
   <tr>
      <td> 24  </td>
      <td> Chokhda  </td>
      <td> Chandrans  </td>
   </tr>
   <tr>
      <td> 25  </td>
      <td> Daad  </td>
      <td>Amrans   </td>
   </tr>
   <tr>
      <td> 26  </td>
      <td> Daga </td>
      <td>Rajhans   </td>
   </tr>
   <tr>
     <td>27</td>
     <td>Dammani</td>
     <td>Kapilansh</td>
   </tr>
   <tr>
     <td>28</td>
     <td>Darak</td>
     <td>Haridrans</td>
   </tr>
  <tr>
     <td>29</td>
     <td>Dargad</td>
     <td>Gowans</td>
   </tr>
<tr>
     <td>30</td>
     <td>Devpura</td>
     <td>Paras</td>
   </tr>
<tr>
     <td>31</td>
     <td>Dhoopad</td>
     <td>Sirses</td>
   </tr>
<tr>
     <td>32</td>
     <td>Dhoot</td>
     <td>fafdans</td>
   </tr>
<tr>
       <td>33</td>

     <td>Gadaiya</td>
     <td>Gaurans</td>
   </tr>
<tr>
     <td>34</td>
     <td>Gagrani</td>
     <td>Kaschyap</td>
   </tr>
<tr>
     <td>35</td>
     <td>Gattani</td>
     <td>Dhanans</td>
   </tr>
<tr>
     <td>36</td>
     <td>Gilda</td>
     <td>Gataumasya</td>
   </tr>
<tr>
     <td>37</td>
     <td>Heda</td>
     <td>Dhanans</td>
   </tr>
<tr>
     <td>38</td>
     <td>Inani</td>
     <td>Sasans</td>
   </tr>
<tr>
     <td>39</td>
     <td>Jaju</td>
     <td>Balansh</td>
   </tr>
<tr>
     <td>40</td>
     <td>Jakhotiya</td>
     <td>Seelans</td>
   </tr>
<tr>
     <td>41</td>
     <td>Jhanwar</td>
     <td>Manmans</td>
   </tr>
<tr>
     <td>42</td>
     <td>Kabra</td>
     <td>Aachitransh</td>
   </tr>
<tr>
     <td>43</td>
     <td>Kacholya</td>
     <td>Seelans</td>
   </tr>
<tr>
     <td>44</td>
     <td>Kahalya</td>
     <td>Kagayans</td>
   </tr>
<tr>
     <td>45</td>
     <td>Kalani</td>
     <td>Khalans</td>
   </tr>
<tr>
     <td>46</td>
     <td>Kalantri</td>
     <td>Kaschyap</td>
   </tr>
<tr>
     <td>47</td>
     <td>Kaliya</td>
     <td>Jhumrans</td>
   </tr>
<tr>
     <td>48</td>
     <td>Kankani</td>
     <td>Gataumasya</td>
   </tr>
<tr>
     <td>49</td>
     <td>Karwa</td>
     <td>Karwans</td>
   </tr>
<tr>
     <td>50</td>
     <td>Kasat</td>
     <td>Attlaans</td>
   </tr>
<tr>
     <td>51</td>
     <td>Khatwar</td>
     <td>Mugans</td>
   </tr>
<tr>
     <td>52</td>
     <td>Ladda</td>
     <td>Seelans</td>
   </tr>
<tr>
     <td>53</td>
     <td>Lahoti</td>
     <td>Kagans</td>
   </tr>
<tr>
     <td>54</td>
     <td>Lakhotiya</td>
     <td>Fafdans</td>
   </tr>
<tr>
     <td>55</td>
     <td>Malpani</td>
     <td>Bhatyas</td>
   </tr>
<tr>
     <td>56</td>
     <td>Malu</td>
     <td>Khalansi</td>
   </tr>
<tr>
     <td> 57</td>
     <td>Mandhanya</td>
     <td>Jaislani</td>
   </tr>
<tr>
     <td>58</td>
     <td>Mandowara</td>
     <td>Vachans</td>
   </tr>
<tr>
     <td>59</td>
     <td>Maniyar</td>
     <td>Kaushik</td>
   </tr>
<tr>
     <td>60</td>
     <td>Mantri</td>
     <td>Kamlas</td>
   </tr>
<tr>
     <td>61</td>
     <td>Modani</td>
     <td>Sandans</td>
   </tr>
<tr>
     <td>62</td>
     <td>Mundhra</td>
     <td>Gowans</td>
   </tr>
<tr>
     <td>63</td>
     <td>Nawal</td>
     <td>Nandans</td>
   </tr>
<tr>
     <td>64</td>
     <td>Nawandhar</td>
     <td>Bugdalimb</td>
   </tr>
<tr>
     <td>65</td>
     <td>Nolakha</td>
     <td>Gawans</td>
   </tr>
<tr>
     <td>66</td>
     <td>Nyati</td>
     <td>Nanased</td>
   </tr>
<tr>
     <td>67</td>
     <td>Pallod</td>
     <td>Saadans</td>
   </tr>
<tr>
     <td>68</td>
     <td>Partani</td>
     <td> -- </td>
   </tr>

<tr>
     <td>69</td>
     <td>Porwal</td>
     <td>Nanans</td>
   </tr>
<tr>
     <td>70</td>
     <td> Randhad</td>
     <td>Kaschyap</td>
   </tr>
<tr>
     <td>71</td>
     <td>Rathi</td>
     <td>Kapilans</td>
   </tr>
<tr>
     <td>72</td>
     <td>Sarda</td>
     <td>Thobdans</td>
   </tr>
<tr>
     <td>73</td>
     <td>Sikchi</td>
     <td>Kaschyap</td>
   </tr>
<tr>
     <td>74</td>
     <td>Sodhani</td>
     <td>Sodhani</td>
   </tr>
<tr>
     <td>75</td>
     <td>Somani</td>
     <td>Liyans</td>
   </tr>
<tr>
     <td>76</td>
     <td>Soni</td>
     <td>Dhumrans</td>
   </tr>
<tr>
     <td>77</td>
     <td>Tapdia</td>
     <td>Peeplan</td>
   </tr>
<tr>
     <td>78</td>
     <td>Tawri</td>
     <td>Kaschyap</td>
   </tr>
<tr>
     <td>79</td>
     <td>Toshniwal</td>
     <td>Kaushik</td>
   </tr>











  </tbody>

  </table>
</div>
