  

 <div class="panel panel-primary">
   <h1>Kuldevise Details</h1></div>


  <div class="table-responsive">
      
<table class="table table-striped table-bordered">
       
        <thead>
          
          <tr>
            <th>S.NO</th>
            <th>Kuldevi Name</th>
            <th>Location</th>
            <th>For More Information</th>
     
          </tr>

        </thead>

        <tbody>

          <tr>
            <td>1</td>
            <td>Nausar Mata</td>
            <td> </td>             
            <td> </td>
          </tr>
         <tr>
            <td>2</td>
            <td>Asavari Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>3</td>
            <td>Sachhiyay Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>4</td>
            <td>Bhaisad mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>5</td>
            <td>Aamal Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>6</td>
            <td>Likasan Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>7</td>
            <td>Chavada Mata</td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>8</td>
            <td>Pattaya Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>9</td>
            <td>Susmaad Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>10</td>
            <td>Bandhar Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>11</td>
            <td>Bhadrakali Mata </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>12</td>
            <td>Ashapura Mata </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>13</td>
            <td>Daghvant Mata </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>14</td>
            <td>Falodhi Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>15</td>
            <td>Sisnay Mata </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>16</td>
            <td>Khunkhar Mata </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>17</td>
            <td>Naganechi Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>18</td>
            <td>Shamal Mata </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>19</td>
            <td>Dharjal Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>20</td>
            <td>Gayal Mata  </td>
            <td> </td>             
            <td> </td>

          </tr>
          <tr>
            <td>21</td>
            <td>Mundal Mata </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>22</td>
            <td>Khiwanj Mata  </td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>23</td>
            <td>Sendal Mata </td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>24</td>
            <td>Hinglad Mata  </td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>25</td>
            <td>Manudhani Mata  </td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>26</td>
            <td>Dhaulesari Rui Mata </td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>27</td>
            <td>Sevlya Maata  </td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>28</td>
            <td>Jhin Mata </td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>29</td>
            <td>Sati Mata </td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>30</td>
            <td>Nausalya</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>30</td>
            <td>Nausalya</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>31</td>
            <td>Dayal Mata/Matri Mata </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>32</td>
            <td>Baakal Mata Baikeshwari Mata/Beesal Mata </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>33</td>
            <td> Beesal Mata/Saavangya Mata/Sangal Mata </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>34</td>
            <td>Karni Mata  </td>
            <td></td>
            <td></td>
          </tr>
         <!--  <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr> -->

        </tbody>
      </table>
    </div>