     <h1 class="danger"> Surname Wise Kuldevis</h1>

     <div class="table-responsive">
          
          <table class="table table-hover table-striped">
           
            <thead>
              
              <tr>
                <th>S.NO</th>
                <th>Gotra (Surname)</th>
                <th>Gotra   </th>
                <th colspan="1">Godess   </th>
                <th>Location    </th>
              </tr>

            </thead>

            <tbody>
            
              <tr>
                <th>1</th>
                <td>Ajmera</td>
                <td>Manans</td>
                <td >Nausar Mata</td>
                <td> Kaner, Dist.Chittodgad, 5 kms from Ajmer in Pushkar valley.</td>
              
              </tr>
              <tr>
                <th>2</th>
                <td>Avasa</td>
                <td>Panchans</td>
                <td > Asavari Mata</td>
                <td> New large temple in Ossia, 10 kms from Jaisalmer, at Didwanna, 12 kms from Kiradu Barme.</td>
              
              </tr>
              <tr>
                <th>3</th>
                <td>Attal</td>
                <td>Gataumasya</td>
                <td >Sachhiyay Mata</td>
                <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                on Jodhpur – Jaisalmer broad guage Railway line. Can also
                be reached from Bikaner via Faloudi.</td>
              
              </tr>
              <tr>
                <th>4</th>
                <td>Agiwal</td>
                <td>Chandrans</td>
                <td >Bhaisad mata </td>
                <td> At Pada Mata Didwana</td>
              
              </tr>
              <tr>
                <th>5</th>
                <td>Aagsuad</td>
                <td>Kaschyap</td>
                <td >Jakhan Mata  </td>
                <td> </td>
              
              </tr>
              <tr>
                <th>6</th>
                <td>Baldua</td>
                <td>Valans</td>
                <td >Hinglad Mata</td>
                <td> Village Laudrava,Dist. Jaisalmer . Original temple in Sivan
                      in Badmer.</td>
              
              </tr>
              <tr>
                <th>7</th>
                <td>Baaldi</td>
                <td>Lauras</td>
                <td >Garans Sati Mata</td>
                <td> Javadnagar</td>
              </tr>

              <tr>
                <th>8</th>
                <td>Boob</td>
                <td>Musayas</td>
                <td >Bhadrakali Mata</td>
                <td> Hanumangadh, Lekhasan (Gujarat).</td>
              
              </tr>

              <tr>
                <th>9</th>
                <td>Bangad</td>
                <td>Chudans</td>
                <td >Sachhiyay Mata</td>
                <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                    on Jodhpur – Jaisalmer broad guage Railway line. Can also
                    be reached from Bikaner via Faloudi.</td>
              
              </tr>
              <tr>
                <th>10</th>
                <td>Bihani</td>
                <td>Balans</td>
                <td >Sachhiyay Mata</td>
                <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                    on Jodhpur – Jaisalmer broad guage Railway line. Can also
                    be reached from Bikaner via Faloudi.</td>
                              
              </tr>

              <tr>
                <th>11</th>
                <td>Bidada  </td>
                <td>Gajans</td>
                <td >Pattaya Mata </td>
                <td> Didawana, Jayal.</td>
              
              </tr>

              <tr>
                <th>12</th>
                <td>Baheti</td>
                <td>Silansh</td>
                <td >Sandal Mata,Dhut Mata</td>
                <td> Ramgad, Kiralsariya.</td>
              
              </tr>
              <tr>
                <th>13</th>
                <td>Bajaj</td>
                <td>Bhansali</td>
                <td >Gayal Mata </td>
                <td> Located at Aasop, abt 40 kms from Medata city via Goran
                    on Jodhpur Road. The diety was found in Paldhi near
                    Jalgaon.</td>
              
              </tr>
              <tr>
                <th>14</th>
                <td>Birla</td>
                <td>Balans</td>
                <td >Sachhiyay Mata</td>
                <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                      on Jodhpur – Jaisalmer broad guage Railway line. Can also
                      be reached from Bikaner via Faloudi.</td>
              
              </tr>

              <tr>
                <th>15</th>
                <td>Bang</td>
                <td>Sodans  </td>
                <td >Khandal Mata </td>
                <td> Mundva.</td>
              </tr>

              <tr>
                <th>16</th>
                <td>Bhandari</td>
                <td>Kaushik</td>
                <td >Naganechi Mata </td>
                <td> At Negadia, Nathara, Udapura, Bikaner.</td>
              </tr>

              <tr>
                <th>17</th>
                <td>Bhattad</td>
                <td>Bhattayans</td>
                <td >Chavanda Mata</td>
                <td> Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didavan,Jayal

                    At Bhadaria Village, in Jaisalmer dist.about 40 kms from
                    ramdevraya Pokran.</td>
              
              </tr>

              <tr>
                <th>18</th>
                <td>Bhutada</td>
                <td>Attalans</td>
                <td >Khiwanj Mata </td>
                <td> Khiwanj Mata .</td>
              
              </tr>
              <tr>
                <th>19</th>
                <td>Bhuradia</td>
                <td>Achitrans</td>
                <td >Daghvant Mata</td>
                <td>  Kirna Saria.</td>
              
              </tr>

              <tr>
                <th>20</th>
                <td>Bharadia</td>
                <td></td>
                <td >Sati Mata</td>
                <td>Vambori, about 30 kms from Chitod or 22 kms</td>
              
              </tr>


              <tr>
                <th>21</th>
                <td>Bhansaali</td>
                <td>Bhansaali</td>
                <td >Chavanda Mata</td>
                <td>Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,
                    Jayal.</td>
              </tr>

              <tr>
                <th>22</th>
                <td>Chandak</td>
                <td>Chandrans</td>
                <td > Ashapura Mata</td>
                <td> Located near the lake in Peepal gaon which is abt 4 miles
                    awayPerlaad, which is turn is 14 mils from Ashapur
                    (Uadipur). There is a temple in Nadol, Pali District. An
                    ancient temple is near Asani Fort.</td>
              </tr>

              <tr>
                <th>23</th>
                <td>Chowkhda</td>
                <td>Chandrans</td>
                <td > Jevan Mata  </td>
                <td> Khasa Jodhpur </td>
              </tr>

              <tr>
                <th>24</th>
                <td>Chachani</td>
                <td>Sesans</td>
                <td>Daghvant Mata</td>
                <td >Located in Kirna Saria village, near Manglore village in
                     Nagaur district, about 6 miles from Rolegaon</td>
              </tr>

              <tr>
                <th>25</th>
                <td>Chhaparwal</td>
                <td>Kaushik</td>
                <td > Bandhar Mata</td>
                <td> Located on the hillock at tanagaon, which is 10 kms from
                      Mogargaon, on left hand side on the road leading to Aakola
                      on Udaipur to Chitor Road . About 70 kms from Udaipur.</td>
              </tr>

              <tr>
                <th>26</th>
                <td>Daad</td>
                <td>Amrans</td>
                <td >Bhadrakali Mata</td>
                <td> Located in Mahakali Mandir at Hanumangadh (Bikaner),
                  Gujarat).</td>
              </tr>

              <tr>
                <th>27</th>
                <td>Daga</td>
                <td>Rajhans</td>
                <td > Sachhiyay Mata</td>
                <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                  on Jodhpur – Jaisalmer broad guage Railway line. Can also
                  be reached from Bikaner via Faloudi.</td>
              </tr>

              <tr>
                <th>28</th>
                <td>Dammani</td>
                <td>Kapilansh</td>
                <td >Sachhiyay Mata</td>
                <td>At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                  on Jodhpur – Jaisalmer broad guage Railway line. Can also
                  be reached from Bikaner via Faloudi.</td>
              </tr>

              <tr>
                <th>29</th>
                <td>Darak</td>
                <td>Haridrans</td>
                <td >Musa Mata</td>
                <td>.</td>
              </tr>

              <tr>
                <th>30</th>
                <td>Dargad</td>
                <td>Gowans</td>
                <td >Naganechi Mata</td>
                <td> At Negadia, Nathara, Udapura, Bikaner.</td>
              </tr>

              <tr>
                <th>31</th>
                <td>Devpura</td>
                <td>Paras</td>
                <td >Pattaya Mata</td>
                <td> Didawana, Jayal.</td>
              </tr>

              <tr>
                <th>32</th>
                <td>Dhoot</td>
                <td>Fafdans</td>
                <td >Likasan Mata</td>
                <td>Likasan.</td>
              </tr>

              <tr>
                <th>33</th>
                <td>Dhupad</td>
                <td>Sirses</td>
                <td > Falodhi Mata</td>
                <td> Located in Medta Road (Naguar) inside Shri Falaudi
                  Brahmani Maneshwari Temple, west of Ramganj Station.</td>
              </tr>

              <tr>
                <th>34</th>
                <td>Gagrani </td>
                <td>Kaschyap</td>
                <td >Pattaya Mata</td>
                <td> Didawana, Jayal.</td>
              </tr>

              <tr>
                <th>35</th>
                <td>Gattani</td>
                <td>Dhanans</td>
                <td > Chavanda Mata</td>
                <td>Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,
                  Jayal.</td>
              </tr>

              <tr>
                <th>36</th>
                <td>Gadiya</td>
                <td>Gaurans</td>
                <td > Bandhar Mata</td>
                <td>Located on the hillock at tanagaon, which is 10 kms from
                    Mogargaon, on left hand side on the road leading to Aakola
                    on Udaipur to Chitor Road . About 70 kms from Udaipur.</td>
              </tr>

              <tr>
                <th>37</th>
                <td>Gilada(Mutha)</td>
                <td>Gataumasya</td>
                <td > Dayal Mata  </td>
                <td>In Deru village after alighting at Jorapur Bus Stand on
                Jodhpur Nagore Road abt 20 kms far from Nagaur.</td>
              </tr>

              <tr>
                <th>38</th>
                <td>Hurkat</td>
                <td>Visvant</td>
                <td ></td>
                <td>.</td>
              </tr>

              <tr>
                <th>39</th>
                <td>Heda</td>
                <td>Dhanans</td>
                <td > Falodhi Mata  </td>
                <td> Medta Road, Ramganj.</td>
              </tr>

              <tr>
                <th>40</th>
                <td>Innani</td>
                <td>Sasans</td>
                <td > Jasal Mata  </td>
                <td>.</td>
              </tr>
              <tr>
                <th>41</th>
                <td>Jajoo</td>
                <td> Balansh</td>
                <td >Falodhi Mata </td>
                <td>. Medta Road, Ramganj</td>
              </tr>
              <tr>
                <th>42</th>
                <td>Jakhetia</td>
                <td>Seelans</td>
                <td > Sisnay Mata </td>
                <td> Mandalgaon.</td>
              </tr>
              <tr>
                <th>43</th>
                <td>Jhanwar</td>
                <td> Manmans  </td>
                <td > Gayal Mata  </td>
                <td>Located at Aasop, abt 40 kms from Medata city via Goran
                  on Jodhpur Road. The diety was found in Paldhi near
                  Jalgaon.</td>
              </tr>
              <tr>
                <th>44</th>
                <td>Karva</td>
                <td>Karwans</td>
                <td > Sachhiyay Mata  </td>
                <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                      on Jodhpur – Jaisalmer broad guage Railway line. Can also
                      be reached from Bikaner via Faloudi.</td>
              </tr>
              <tr>
                <th>45</th>
                <td>Kankani</td>
                <td>Gataumasya</td>
                <td > Aamal Mata  </td>
                <td>Mandesar Udaipur, village Riched, Tehsil Kumbhalgad, Dist.
                    Rajsamand. Can be reached from Ajmer to Udaipur road via
                    Charbhuja. From Jodhpur on road to Kumbhlagad.</td>
              </tr>

              <tr>
                <th>46</th>
                <td>Kahalia</td>
                <td>Kagayans</td>
                <td > Likasan Mata  </td>
                <td>At Choti Khatu, Village Likasan, Dist. Nagaur (abt 6-7 Kms
                  far from Nagaur) From Didwana 18 kms, from Choti Khatu
                  4 miles east).</td>
              </tr>
              <tr>
                <th>47</th>
                <td>Kalantri</td>
                <td>Kaschyap</td>
                <td > Chavanda Mata</td>
                <td> Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,
                      Jayal.</td>
              </tr>

              <tr>
                <th>48</th>
                <td>Kasat</td>
                <td>Attlaans</td>
                <td > Sachhiyay Mata  </td>
                <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                    on Jodhpur – Jaisalmer broad guage Railway line. Can also
                    be reached from Bikaner via Faloudi.
                </td>
              </tr>

              <tr>
                <th>49 </th>
                <td>Kacholiya</td>
                <td>Seelans</td>
                <td > Pattaya Mata  </td>
                <td> Didwana, Jayal
                       .</td>
              </tr>
               <tr>
                <th>50</th>
                <td>Kalani</td>
                <td>Khalans</td>
                <td >Chavanda Mata</td>
                <td>In between Medta City and Medta Road. Also in Chamunda
                  village, Dist Jodhpur near Keru. Also in between Pushkar –
                  Ajmer. A temple is also in Jodhpur fort..</td>
              </tr>
              <tr>
                <th>51</th>
                <td>Kabra</td>
                <td>Aachitransh</td>
                <td > Susmaad Mata  </td>
                <td> Kuchera
                  .</td>
              </tr>

             
              <tr>
                <th>52</th>
                <td>Kalia</td>
                <td>Jhumrans</td>
                <td > Asavari Mata  </td>
                <td> Jaisalmer, Didwana, Kiradu
                .</td>
              </tr>
              <tr>
                <th>53</th>
                <td>Khawad</td>
                <td>Mugans</td>
                <td >Nausalya Mata</td>
                <td>Dahadi, Ram Ganj, Didavana, Medta Road

                  Located in the field of Khatodji at Dahadi, The. Jaavad,
                  Dist. Mandsaur.</td>
              </tr>
              <tr>
                <th>54</th>
                <td>Ladha</td>
                <td>Seelans</td>
                <td > Baakal Mata </td>
                <td>At Ummednagar, Ossia Tehsil, Dist Jodhpur. On Bhilwada
                Raipur road.</td>
              </tr>
              <tr>
                     <th>55</th>
                     <td>Lahoti</td>
                     <td>Kagans</td>
                     <td>Chavanda Mata</td>
                     <td> Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,
                    Jayal</td>

              </tr>
                <tr>
                 <th>56</th>
                 <td></td>
                 <td></td>
                 <td> Gayal Mata  </td>
                <td> Located at Aasop, abt 40 kms from Medata city via Goran
                    on Jodhpur Road. The diety was found in Paldhi near
                    Jalgaon</td>

              </tr>

               <tr>
                   <th>57</th>
                   <td>Lakhotia</td>
                   <td>Fafdans</td>
                   <td>Sachhiyay Mata</td>
                   <td>At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                    on Jodhpur – Jaisalmer broad guage Railway line. Can also
                    be reached from Bikaner via Faloudi</td>

              </tr>

               <tr>
                     <th>58</th>
                     <td>Lohia</td>
                     <td></td>
                     <td>Shamal Mata</td>
                     <td>Located at Petaran Patti. Can be reached via Byawar</td>

              </tr> 
              <tr>
                 <th>59</th>
                 <td>Malooda</td>
                 <td>Khalansi</td>
                 <td>Sachhiyay Mata</td>
                 <td>At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                      on Jodhpur – Jaisalmer broad guage Railway line. Can also
                      be reached from Bikaner via Faloudi</td>

              </tr> 
              <tr>
               <th>60</th>
               <td>Malpani</td>
               <td>Bhatyas</td>
               <td> Sangal Mata </td>
               <td> Bhadaria</td>

              </tr> 
              <tr>
                   <th>61</th>
                   <td>Mandhania</td>
                   <td>Jaislani</td>
                   <td> Manudhani Mata</td>
                   <td>In the house of Guru Rajendrakumar Sukhdeviji Vyas, koth
                   Mohalla, Didwan</td>

              </tr>
               <tr>
                   <th>62</th>
                   <td>Mundhada</td>
                   <td>Gowans</td>
                   <td> Mundal Mata </td>
                   <td>At Mundiyad village, in Mundhiwad, 28 miles from Nagaur</td>

              </tr> 
              <tr>
                 <th>63</th>
                 <td>Mandowara</td>
                 <td>Vachans</td>
                 <td>Dhaulesari RuiMata</td>
                 <td>Located on the hillock at Vahatu village in Dist Alwar</td>

              </tr>
               <tr>
                   <th>64</th>
                   <td>Maniyar</td>
                   <td>Kaushik</td>
                   <td>Dayam Dayavant Mata</td>
                   <td>Kirnasariya</td>

              </tr> 
              <tr>
               <th>65</th>

               <td>Modani</td>
               <td>Sandans</td>
               <td> Chavanda Mata </td>
               <td>Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didavan,Jayal</td>

              </tr>
               <tr>
                 <th>66</th>
                 <td>Mantri</td>
                 <td>Kamlas</td>
                 <td> Sachhiyay Mata</td>
                 <td>At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                  on Jodhpur – Jaisalmer broad guage Railway line. Can also
                  be reached from Bikaner via Faloudi</td>

              </tr> 
              <tr>
                   <th>67</th>
                   <td>Navaal</td>
                   <td>Nandans</td>
                   <td>Navasan-sati
                      Jakhan Mata</td>
                   <td> --- </td>

              </tr>
              <tr>
                 <th>68</th>
                 <td>Novlakha</td>
                 <td>Gawans</td>
                 <td> Pattaya Mata</td>
                 <td> Didwana, Jayal
                      </td>

              </tr> 
              <tr>
                 <th>69</th>
                 <td>Nyati</td>
                 <td> Nanased </td>
                 <td>Chandsen</td>
                 <td></td>

              </tr> 
              <tr>
               <th>70</th>
               <td>Navandhar  </td>
               <td>Bugdalimb</td>
               <td> Dharjal Mata  </td>
               <td> At Pokharan, Dist. Jaisalmer</td>

              </tr> 
              <tr>
               <th>71</th>
               <td>Pallod</td>
               <td>Saadans</td>
               <td>Chavanda Mata</td>
               <td>Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didavan,
                Jayal</td>

              </tr> 
              <tr>
               <th>72</th>
               <td>Partani</td>
               <td>Kaschyap</td>
               <td>Sachhiyay Mata</td>
               <td>At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                  on Jodhpur – Jaisalmer broad guage Railway line. Can also
                  be reached from Bikaner via Faloudi</td>

              </tr> 
              <tr>
               <th>73</th>
               <td>Porwar</td>
               <td>Nanans</td>
               <td> Mathri Mata </td>
               <td> Hanumangad</td>

              </tr> 
              <tr>
               <th>74</th>
               <td>Parwal</td>
               <td>Nanans</td>
               <td> Dayal Mata</td>
               <td>Kinvasar

            In Deru village after alighting at Jorapur Bus Stand on
            Jodhpur Nagore Road abt 20 kms far from Nagaur</td>

              </tr>

               <tr>
                   <th>75</th>
                   <td>Randad</td>
                   <td>Kaschyap</td>
                   <td> Sachhiyay Mata</td>
                   <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                      on Jodhpur – Jaisalmer broad guage Railway line. Can also
                      be reached from Bikaner via Faloudi</td>

              </tr>
              <tr>
                  <th>76</th>
                  <td>Rathi</td>
                  <td>Kapilans</td>
                  <td>Sachhiyay Mata</td>
                  <td> At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                      on Jodhpur – Jaisalmer broad guage Railway line. Can also
                      be reached from Bikaner via Faloudi</td>
              </tr>
              <tr>
                  <th>77</th>
                  <td>Soni</td>
                  <td> Dhumrans </td>
                  <td> Sevlya Mata  </td>
                  <td>In Oosia, Bagov, Tehsil Mandal, Dist. Bhilwada</td>
              </tr>


              <tr>
                  <th>78</th>
                  <td>Somani</td>
                  <td>Liyans</td>
                  <td> Bandhar Mata</td>
                  <td> Tanagaon</td>
              </tr>


              <tr>
                  <th>79</th>
                  <td>Sodhani</td>
                  <td>Sodhani</td>
                  <td> Jhin Mata  </td>
                  <td>At 10 kms south of Sikkar in Aravali Hills, about 6 miles
                    from Goria station</td>
              </tr>


              <tr>
                  <th>80</th>
                  <td>Sarda</td>
                  <td>Thobdans</td>
                  <td>Sachhiyay Mata</td>
                  <td>At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                  on Jodhpur – Jaisalmer broad guage Railway line. Can also
                  be reached from Bikaner via Faloudi</td>
              </tr>


              <tr>
                  <th>81</th>
                  <td>Sikchi</td>
                  <td> Kaschyap</td>
                  <td>Sachhiyay Mata</td>
                  <td>At Ossia, 61 kms by bus and 61 kms by train from Jodhpur,
                      on Jodhpur – Jaisalmer broad guage Railway line. Can also
                      be reached from Bikaner via Faloudi</td>
              </tr>


              <tr>
                  <th>82</th>
                  <td>Tavari</td>
                  <td>Kaschyap</td>
                  <td> Chavanda Mata</td>
                  <td>Sojat City, Chamunda, Jodhpur, Pushkar Valley, Didawana,
                      Jayal</td>
              </tr>


              <tr>
                  <th>83</th>
                  <td>Toshniwal</td>
                  <td>Kaushik</td>
                  <td>Khunkhar Mata</td>
                  <td>Vil. Toshni, Dist. Nagaur. Khokhari mata temple located in
                    Tivari, about 22 kms norty of Jodhpur</td>
              </tr>


              <tr>
                  <th>84</th>
                  <td>Totla/Modi  </td>
                  <td> Kapilansh  </td>
                  <td>Khunkhar Mata</td>
                  <td>Vil. Toshni, Dist. Nagaur. Khokhari mata temple located in
                    Tivari, about 22 kms norty of Jodhpur</td>
              </tr>


              <tr>
                  <th>85</th>
                  <td>Tapadiya</td>
                  <td>Peeplan</td>
                  <td>Ashapura Mata</td>
                  <td>Located near the lake in Peepal gaon which is abt 4 miles
                  awayPerlaad, which is turn is 14 mils from Ashapur
                  (Uadipur). There is a temple in Nadol, Pali District. An
                  ancient temple is near Asani Fort</td>
              </tr>

           <!--  Extra Coulmn structure 
              <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr> 
            -->







            </tbody>
          </table>
    </div>
      
 