<div class="panel panel-danger">
	<div class="panel-body">
	<h3 >The Customs and Traditions Of The Maheshwari Community</h3>

	</div>
</div>

<p class=""> 
	There is a need shown for the Indian sages and religious matters and aesthetic culture.For them there are some remedies and inventions whose impression not only falls on the body and mind but also on the soul.These remedies are the ‘Aesthetic Values’ by which man becomes human and more civilized.If a person has no aesthetic values ,he is uncultured.Science has also approved of this importanceof aesthetic value or culture.The culture of the whole world takes the man away from Sin and Ignorance and joins him to thoughtfulness and knowledge so that the man can lead a governed life.

</p>
<p>
	Just like how by using different colours which are appropriate to make a picture beautiful,attractive and full of reality, in the same way a good culture makes a man feelsensible in his mind and is loved by all, he also feels happy and at peace.In every religion there is a positive culture , as in Hindu religion there is a type of a culture , in the same way there is a certain number which is fixed in the Hindu religion
</p>	
<div class="panel-body panel panel-danger">
	Saint Shai Vyas has found Main Shidas(sixteen) cultures which are followed.They are:
</div>

<ol class="list-group">
	<li class="list-group-item">Garbadhan</li>
	<li class="list-group-item">Prasavan</li>
	<li class="list-group-item">Simantoyan</li>
	<li class="list-group-item">Jatkarma</li>
	<li class="list-group-item">Namkaran</li>
	<li class="list-group-item">Nishkraman</li>
	<li class="list-group-item">Annaprashan</li>
	<li class="list-group-item">Chudakarma</li>
	<li class="list-group-item">Karnaved</li>
	<li class="list-group-item">Upnayan</li>
	<li class="list-group-item">Shiksha</li>
	<li class="list-group-item">Samavartan</li>
	<li class="list-group-item">Vivah</li>
	<li class="list-group-item">Vanprasthashram</li>
	<li class="list-group-item">Sanyaashram</li>
	<li class="list-group-item">Anthyeshtsanskar</li>
</ol>

<p> 
	If we describe these cultures in todays age then we find that the age and the physical body, the needs of the physical body are kept in mind while writing the culture in series.
</p>
<ol class="list-group"> <strong>The main three cultures are </strong>

	<li class="list-group-item">Birth</li>
	<li class="list-group-item">Marriage</li>
	<li class="list-group-item">Death</li>
</ol>
<p>
	In this the society is very much involved.Below there is given the customs and traditions of the society , so that we can understand the similarity and the opinions.
</p>
<strong>Birth Culture</strong>
<h5>1.God Bharna :</h5> <p>We can also call it Khol Bharna</p>

<h6>          When a woman is pregnant in the seventh or nineth month , this custom is performed , but this is never done in the eighth month. Whatever materials are needed in this God Bharna are as follows :-
</h6>
<p>Coconut , Jaggery , Bijounra , Nimbu , Seven fruits with flour and other fruits (no bananas) . These materials come from woman’s maternal house. With this also comes clothes and money according to the choice of son-in-law , mother-in-law and father-in-law.The God Bharna is done only by a lady whose all children are alive, has had no miscarriage or abortions , and also whose first child is a male child.Now first before the first thing the woman has to perform God Bharna to such a woman.Then all the material that has been brought that is Ghevar ,Laddoo , fruits , clothes are put in the lap of the woman</p>
<br>
<p>Then the lady who is pregnant or the other ladies of the family or relatives who are present at this time go to the temple for darshan.According to the status relatives go to the temple for lunch. During this lunch the maternal side people offer the inlaws food first. So they send the pregnant woman in the seventh or the nineth month(leaving the eighth month) to her mothers house. During the eighth month pregnant ladies do not cross any lake , rivers . There is even a custom of performing puja of the entrance of the house of the mother of the pregnant lady.</p>
<p> The main importance of this puja is the importance of Vaastu Shastra . The materials that we need for this puja is leaf(of betel) , jaggery , kumkum , rice , supari , dub , motichoor laddoo . On the entrance of the door one rupee twenty five paise coin and after the gobar pujan they put laddoo on the entrance , which is then just rolled inside the house with the hand</p>

<hr>

<strong>2. Balka Birth :</strong><p>We also call it Jatkarma culture</p> 

<p> We do this when the baby is born , a Jatkarma culture is performed , when we sing Nal Geet . After this the baby is given a small gold bar or a small ring in the ring finger . The baby is given a little honey to lick . This is doing the end to gold tridosh , as honey is a good remedy on cough for the baby . The mixture of these three Vayu , Lavanya and Megha Shakti are very pure and increases strength. We cannot do this always which we should. After this the mothers breasts are washed and the baby is breast fed.This is done by mother’s sister or sister-in-law. Now the clothes are worn by the person who is the head of the family, if the clothes are old then wash them and wear them .</p>
<p>        After hearing the birth of a male baby or a son the mother’s house people and the inlaws play music on a plate with a spoon. Now a days they play music also and tie Vandanava by the barber.

</p>


<strong>3. Chatti Puja :-</strong>
<p>  On the sixth day after the birth of the baby this rite is performed at 12 o’clock in the night . Kajal is made by taking black soot of the diya with ghee in it , this kajal is put in the eyes of the baby . A big pot , coconut , grain , sweet meat , a blank paper and a pen is needed . It is a belief that Almighty God comes and writes the destiny of the child , so these rites are performed which is very necessary.</p>

<strong>4. Surya Puja :-</strong>
<p> This puja is performed after 10 days of the baby’s birth on an auspicious day . From the mothers house( to the Gods , son-in-law , daughter and the new born baby) clothes and money are sent . In the place of Surya Puja we tie a red piece of cloth on a stick .Mehndi is put on the hands , songs are sung . God is offered sweet kheer and rice is made and the people of the family eat it as Prasad . The new born baby’s father’s sister brings a red dress , a red cap and a rakhi ; if there is no auntie(father’s sister) then sister of the mother can send these materials.</p>

<strong>5. Varunadev Pujan (Jalwa) :-</strong>
<p>This is performed after one and quarter month after the baby’s birth . The mother of the child is made to wear new bangles by her sister-in-law or other ladies of the family . The prays to the water of the well , and the panchya puja is done that is ghee , jaggery , grain , money , saree , and blouse are all put and the puja is done . Later all these materials are given away to any girl member of the family . All the ladies of the family go the temple , sing special songs . If the child is born in the lady’s mother’s house she goes with him or her to her in-laws house and vice-versa . During Suraj Puja the baby is made to wear red clothes , it is a belief that if anyone takes away these clothes then they are very successful in their life . After the birth of the baby during the festivals of Diwali , Holi white clothes and sweet meats are sent from the house of his mother’s ‘Nanihal’ (mother’s house).</p>


<strong>6.Vivah Sanskar :- </strong>
<p> This has a lot of importance in Indian Culture . Marriage is a religious culture from vedic times . Water and fire are two proofs that are present . In Indian culture relationship of a married couple is forever . There is an English saying that Marriages are made in Heaven but accomplished only on earth.</p>

<strong>7.Sagaii(Engagement):-</strong>
<p>This is a relation between a boy and a girl which is known as an engagement , which is performed in the presence of the people of the society and as a proof the friends and the relatives in the society are kept . Here the relatives of the girl go to the boy’s house , here the tilak on the forehead of the boy is put and he is garlanded also. Fruits , dry fruits , coconuts , clothes , jewellery are given for the boy’s parents and siblings , relatives are also given money according to the status . The girl is made to sit on the left side of the boy nowadays , but according to old rites during the Saat phera or before that the girl is always sitting on the right side of the boy .</p>

<strong>8.Tyohar (Festival or Function):-</strong>
<p>  It is before the marriage ritual. Some festivals like Diwali , Sankranti , Kajli Tij , Ganesh Chaturthi , Holi are the main ones . The girls parents send mangoes , sweets , charoli to boy’s house which are distributed to the relatives . During Diwali crackers and sweet meats and during Sankranti sweet meats made of til and clothes for the boy , Baes , Juari , Satudi are sent . During Ganesh Chaturthi sweet meats , silver bars ,clothes and sweet meats is also sent on Holi .</p>
<p> From the boys house on Teej day Sinjara(Saree and sweet meats) are sent to the girl . Sweetmeats on Sankrantiday and on Diwali . There are changes nowadays in these rituals which is very necessary.</p>


<strong>9.Vivah (Marriage):-</strong>
	<p>First Ganesh Pujan is performed atleast before 5 to 21 days according to the facilities .</p>
	<p>The person who is made the Vinayak(main person) goes to the Ganesh temple with all the puja materials and the wedding card . This day songs are sung four women folk take mung dal in their hands sweet lapsi and rice are prepared for food and even chatarphali Raita is made . All the people of the house eat the food . On this day they make pakoras of mung dal . The bride and the bridegroom are given 5 pakoras and four married ladies crush the pakoras , from this a little dal ka pakoras are made which are given to the girls and the daughters of the family to eat . A puja is performed brfore grinding the pakoras. Coal , nail , supari , 1 1/2 rupees , a small religious thread on which kumkum is applied and the puja is performed . After Ganesh puja we should do a Nandi Shraadh so that no mishaps take place .</p>

<strong>10. Maata Pujan :-</strong>
 <p> Before the marriage according to own facilities on special days like Monday , Wednesday , Thursday , Friday a puja is performed of Devi Sitala . On this day the parents ,the bride , the bridegroom all eat cold food (nothing is heated).</p>

 <strong>11. Battisi Nautna :-</strong>
 <p> This is performed in the girl’s parent’s house , if the house is very far off then this rite is performed before ‘Mayra’ . For this we need Betel leaf , Supari , Badam , Lavang , Elaichi , Kharek , Cashewnut 5 dry fruits , jaggery , 32 laddoos , 32 rupees , if the marriage is in out station then 5 kg rice , red cloth is taken , and all this is put in the lap of the elder brother of the bride. Tilak is put on the forehead of other brother and a coconut is given (sriphal)songs are sung clothes (saree blouse) and money are given to the bridegroom at the time of the bride going away to her inlaw’s house.</p>


 <!-- ################################################################################## -->

 <p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">12.&nbsp;<strong>Ganpati Pujan</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Place the statue of the ganpati on the place of the  marriage . Here also 16 Matru or Navagraha puja is performed by parents ,  clothes and topi are given to the elder person in the family and laddoo  and money are also given. For the puja flower garland, Prasad , white  and red cloth ,one earthen pot are brought. Songs are sung which are  devotional songs.</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">12.<strong>Tani Bandhana</strong>:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Religious strings are tied at the marriage dias . Rakhi  is tied on the top on a shade and a saree is kept . Under this shade  oil is put on the bride and the bridegroom seven times . The parents  make the bride and the bridegroom have bath with curds from head to toe.  They make thuli and guvar .Raita for food . Songs are sung and then the  bride and the bridegroom have a bath after this ritual .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">13.&nbsp;<strong>Dhan Hath</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This ritual is done by the ladies about 4 to 8 in  number under the shade.In this necessary materials like rice , mung ,  turmeric powder , silver ghughra , money , 7 fruits , 2 soop ; and 2  Belan are put in the plate for the puja .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">14.&nbsp;<strong>Lakhdan</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this ritual ,laddoo made of jaggery , jira , haldi ,  whole dhaniya , silver ghughra , a piece of &lsquo;Laakh&rsquo; one rupee twenty  five paise coin all taken and wrapped in a cloth . 4 ladies take and  give 7 times to the bride and bridegroom. Ghimri , Black pepper , ghee ,  patasha , putting all this in a rupee and touch it to the mouth of the  bride and groom; this is done by 4 ladies .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">15 .&nbsp;<strong>Kankan Dora</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this ritual ,an iron key bunch , Laakh fruits kodi ,  silver ghughra are taken all this is tied in a string and tied on the  wrist of the bride and bridegroom , other family members also tie this ,  this tying denotes that the bride and groom are going to start their  new married life . They should lead their married life as strong as iron  and gain success in life.Society should give you respect .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">17.&nbsp;<strong>Chak Bhaat</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Here pots are brought from the potter&rsquo;s house .Ladies  of the house like mother , sister , daughters bring the pot and sing  songs . The bridegroom puts the pot down from the head of the lady . In  the bridegroom&rsquo;s house the potter is also invited , given money . 2 pots  are taken from him . In the bride&rsquo;s house dal is not prepared , and in  the groom&rsquo;s house papad is not fried.</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">19.&nbsp;<strong>Pancha Pujan (Vinayak Sits)</strong>:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; After doing Ganpati Stapana grains , haldi , mung dal ,  whole dhaniya are put . Pakoras are made of mung dal and put in the  kadhi that is also made to eat.</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">20.&nbsp;<strong>Gadi Puja</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Earlier during marriages fuel was brought from the  jungle by car , so there was gadi Puja performed , but there is no need  to perform it today , so a branch of a tree can be brought , the person  who brings this money and other materials are given to him .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">21.&nbsp;<strong>Mayra</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this ritual the sisters serve sherbet to all their  brothers and their wives . Then men are given sriphal (coconut) and  tilak is put on the forehead . A saree and a blouse is given to  brother&rsquo;s wife .</p>

<p style="text-align: justify;"><br />

<span style="color: rgb(128, 0, 0);">22.&nbsp;<strong>Kaalash Bandhna</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Here the brothers take a pot of money from their  sisters and sarees and clothes are given to the sister and the  son-in-law and his family . Then there is &lsquo;Mayra&rsquo; clothes , jewellery  are taken for the bride and the groom and for the other family members .  Clothes are also given to Brahmins and songs are also sung .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">23.&nbsp;<strong>Var Nikasi</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; First the groom is made to have bath and made to wear  the clothes which have been given to him by his maternal uncle which he  wears throughout the marriage ceremony , then after performing the  Sharada Pujan he is brought out by his maternal uncle to mount on the  female horse . Now a small heap of mud is stamped on under which there  is Raii and Money , by doing this it is said that the groom is going to  get married and return back with the bride which shows his masculinity .  As he mounts the horse his mother performs puja of the horse , mehndi  is applied and money is given to the person incharge of the horse .</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Then tilak is put on the forehead of the groom . Kajal  and glass is shown to him . The groom&rsquo;s mother blesses him to come home  with his bride and not alone . Now all the other son-in-laws of the  family hold the reins of the horses and are given money to leave the  reins .</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the &lsquo;chal&rsquo; ceremony married women come forward with  pots in which the bridegroom keeps money . The youngest daughter of the  family sits at the back of the groom on the horse , this daughter just  sprinkles rye and salt over the head of the groom . This is done as  there is a belief that the groom will not fall prey of bad omen . The  groom carries a &lsquo;khatar&rsquo; , &lsquo;Gatjoda&rsquo; , a fruit and a coconut is tied  around his waist and with this he is taken to the temple . From here the  procession &lsquo;Barat&rsquo; starts to reach the bride&rsquo;s house . Chappal ,Betel  Leaf , Patasha are sent to the bride&rsquo;s house , This shows that the  bride&rsquo;s house is under the care of groom&rsquo;s house people ; this proves  that the the bride&rsquo;s people will look after all the needs of the groom&rsquo;s  people from head to feet .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">24.&nbsp;<strong>Kanya Vrat (Kanyawal)</strong>:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This is done by the elders , parents and maternal uncle  and aunt of the bride . They swear that they will eat only after the  marriage solemnized of the bride(daughter) . Here they take supari and  give to the bride . In the groom&rsquo;s house the groom is made to hold a pot  and drink &lsquo;ghimri&rsquo; and he is made to go round and round a &lsquo;Dhidholi&rsquo;  2-4 times .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">25.&nbsp;<strong>Var Varan</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Also called &lsquo;Praybarna&rsquo; or &lsquo;Gotrachar&rsquo; .The parents and  other close members in the bride&rsquo;s family take fruits , puja thali ,  raw milk (not made hot) , clothes , jewellery .<br />

They first wash the feet of the groom , put tilak and  these materials are given to him . Then the Brahmins chant the &lsquo;Gotras&rsquo;  and &lsquo;Kul&rsquo; of both the families . In this the bridegroom and the bride  should not be of the same &lsquo;Kul&rsquo; or &lsquo;Gotra&rsquo;.</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">26.&nbsp;<strong>Bari&nbsp;</strong>:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this the groom gives silver thread , 4 silver small  boxes , &lsquo;Chink&rsquo; , &lsquo;Kumkum&rsquo; , &lsquo;Tika&rsquo; to the bride . Small bundles of  strings , dry fruits are taken by atleast 5 persons (father-in-law and  son-in-law) to the bride&rsquo;s house . The bride wears these ornaments and  comes to in-law&rsquo;s house . Then the God-Bharai of the bride is performed .  Money is given to the groom&rsquo;s family while on the entrance the groom  touches the &lsquo;Toran&rsquo; with a neem stick and he is told to dismount from  the horse .</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The bride has a bath and wears the clothes given to her  by her maternal uncle before the baraat comes to her house . Before the  &lsquo;Saat Phere&rsquo; , a &lsquo;Gangaur&rsquo; Puja is performed . At the marriage dias 3  pheras are taken by the bride around the groom . The mother of the bride  with her bhabhi do the puja of the bride and the groom . The maternal  uncle and aunt of the bride wash feet of the groom .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">27.&nbsp;<strong>Varmala</strong>&nbsp;:</span>-</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The groom and the bride exchange garlands at the entrance of the door .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">28 .<strong>Havan Rungpaan</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Colours are crushed by the daughters , sisters and  their husbands with mehndi powder and katha . Then &lsquo;Havan&rsquo; is done by  the paremnts of the bride . 4 pheras are taken around this havan . The  last phera is taken with the groom ahead and the bride behind him. While  performing the pheras the bride has to touch a small stone with her  feet which means that she is entering a family life (be a house wife) or  she is a spinster before the pheras .</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The couple perform the havan of &lsquo;Laja&rsquo;(Saal ki Dhaani) .  This is done by the brother of the bride . After this the bride leaves  the marriage dias escorted by the maternal uncle . The girl is also  given a silver ornament and then the parents perform the &lsquo;kanyadaan&rsquo; (as  if giving away the daughter to the groom).</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">29 .&nbsp;<strong>Bidaaii</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this ritual the father-in-law is made to sit under the shade of the dias and Haldi Kumkum is put over him and given money .</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The branch shade is taken off by the son-in-law . Then  the newly married couple are sent away . the bride performs the puja at  the entrance , She has to keep with her laddoos in a vessel and red  cloth . These laddoos are given to the mother-in-law of the bride . On  reaching the groom&rsquo;s house , bride&rsquo;s &lsquo;aarti&rsquo; is performed and welcomed .  She has to plant her footsteps first on the kumkum and and walk on a  white long cloth . On the way 7 &lsquo;thalis&rsquo; are also put and in each thali  one supari , &lsquo;khaja&rsquo; , &lsquo;kharek&rsquo; are put . A nose ring is tied at the end  of the saree palavi of the bride so that while walking the nose ring  just touches the ground , means that in a family everything should be  perfect otherwise life is ruined.</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">30.&nbsp;<strong>Dwar Rokhna</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This is a ritual to prevent the newly wedded couple to  enter inside the house . After giving money to the sisters can they  enter the house . The bride has to touch ghee and gud . Next morning  they go to the temple . Then the father-in-law puts money in the bag  which the new bride removes from the bag . This is done to show how to  look after the money , and the cleverness of the bride is also tested ,  whether the bride is capable of removing money or leave it .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">31.&nbsp;<strong>Pag Pagdai</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The new bride touches the feet of all elders and  relatives of the groom , this is how she gets to know all the members  ,who in return give her gifts as they wish .</p>

<p style="text-align: justify;"><span style="color: rgb(255, 0, 0);"><span style="font-size: large;"><strong>Important</strong></span></span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this way we understand that during a marriage there  are certain customs and traditions which have a scientific and social  importance . The groom is taught in a psychiatric way to lead his life .  There are other customs also which are full of entertainment , fun and  frolic.</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">32.&nbsp;<strong>Suhaag Thaal</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rice ,Til Seeds , ghee , sugar are taken in a thali and  given to the new bride to eat by the married ladies of the family  saying that now the bride is included in their family . The bride gives  the &lsquo;Sawan Sut&rsquo; money to her mother-in-law and money to other ladies.</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">33.&nbsp;<strong>Anthayesth</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This is an immortal truth that when there is birth of a being , death is also a must .<br />

<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  				            According to Hindus death is the last but an important  culture . For the soul to rest in peace after death , this rite should  be performed.<br />

<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  				            In this , from the burning of the body to the rites of  the 12th day is done. When a person is going to die , his son or  grandson has to put the person&rsquo;s head on his knee . The ground is  painted with Gobar (Cowdung) and putting til seeds and on a Kush  mattress the person has to be laid on . A tulsi plant pot is placed here  . Curd , sweet peda , tulsi , gangajal , charnamrut , are put in dying  person&rsquo;s mouth . He is made to hear the name of God , giving away of  food item is done at that time . The dead man is made to have a bath  before lying him on the mattress . All the names of the religious places  are chanted . The family members also make the dead man have bath ,  then put a religious thread on him . Clothes are made to be worn , tilak  is put on the forehead , garland is put around his neck .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">34.&nbsp;<strong>Pinddaan</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5 &lsquo;Pind&rsquo; (a mound) are made of flour and til seeds .  The youngest person in the family has his hair totally shaved off . If  the father of the person is living then he only shaves only if the  mother dies then the son shaves his hair. The person who has lit the  funerel pyre has a bath , wears a religious thread , then he does the  Pind daan . The first &lsquo;pind&rsquo; is the pind of the place of death it is  kept near the head. The second &lsquo;pind&rsquo; is kept at the entrance of the  house . The third &lsquo;pind&rsquo; on the road . Sweetmeats are also given to the  dogs . The pind is broken into 4 pieces and thrown in all directions . A  cloth is torn and money is tied in it and thrown in the Southern  direction . The pind is given to the ghosts .</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The dead body is taken by the members of the family.</p>

<p style="text-align: justify;"><br />

<span style="color: rgb(128, 0, 0);">35.&nbsp;<strong>Agni Sanskar</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The dead body is placed with the legs of the body in  the front and after sometime the head is taken in forward direction . In  the crematorium , the place where the body will be burned is washed  with water and cleaned well . Gobar(Cowdung) is put all over the place,  Til seeds are put , mattress is put of straw and then the wood which are  to be burnt are collected.</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The clothes and ornaments on the dead body are all  removed , ghee is put all over the body from head to feet . On the dead  body dry sticks of tulsi , small pieces of sandalwood . Agarbatti and  Kapur is put on the dead body , Kapur is put on the two eyes and mouth  and the sticks of tulsi are put on the waist. The left over 2 pinds are  kept on the name of &lsquo;Yam&rsquo; (God of Death) . The pind is always kept with  the forefinger and thumb . Then the funeral pyre is lit (Mukhagni) . The  fire fuel is brought from the house in a vessel(lota) made of bronze or  copper . The 5 pieces of Kand are given . Then the person who lit the  funeral pyre and the persons who attended the funeral have a bath . Then  they give til seeds . Before lighting the funeral pyre the person who  lights it yells loudly . The &lsquo;lota&rsquo; in which the fire fuel is brought is  washed well and filled with water .After he reaches home he again yells  loudly the name of the dead person , then all the others who attended  the funeral leave for their respective homes .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">36.&nbsp;<strong>Kaadva</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This is a type of cooking that comes from boy&rsquo;s  in-laws&rsquo;s house . The house where there is death , flour is kept in a  thali and it is covered upwards by another thali and near this everyday a  &lsquo;diva&rsquo; is put . The next day onwards everyday morning tea , toothpaste ,  toothbrush etc are put here .The person who performs the rites of  &lsquo;Anthayesth&rsquo; has to sit on the mattress made of wool and sleep on a  mattress . For 12 days he should not indulge in sex and while sitting to  eat he should remove a little food from his plate for the cow.</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">37.&nbsp;<strong>Asthi Sanchay</strong>&nbsp;:-</span></p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; On the third day of the funeral , Gangajal , &lsquo;Gaumutra&rsquo;  (Urine of Cow) and milk are mixed and sprinkled over the funeral pyre .  The ashes are put in a silk bag for immersion in some pious river . The  place of the funeral pyre is cleaned and is covered with Gobar  (Cowdung)and the everyday used things of the person who has died are put  on it . On a three-legged stool a pot is kept that has water in it .  Then it is broken with a stone . They make kheer and give to the crows  to eat , the people move away from the place only when the crow has just  touched the kheer with its beak. To pray for the dead only flowers are  used . On the day of &lsquo;Uthavna&rsquo; , Kaleva comes from the in-law&rsquo;s house .  It is done in the evening at 4 o&rsquo;clock on the third day of the death .  From this day till the 12th day the whole &lsquo;Nath&rsquo;(society) is given food  to eat , they are given food only once and no second helping is given .  On this day &lsquo;Lapsi , 9 Bhel Vegetables and rice are cooked . From the  4th day onwards till the 10th day new sweetmeats are also made which  were liked by the person who has died . For 12 days all the daughters  and sisters of the family eat in the same place . From the 3rd day to  9th day &lsquo;Guru Puran&rsquo; (a religious book) is read for the whole bereaved  family .</p>

<p style="text-align: justify;"><span style="color: rgb(128, 0, 0);">38 .&nbsp;<strong>Uthavna</strong>&nbsp;:</span>-</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All the male members and all the relatives and friends  of the family go to the temple. Ladies do not go to the temple . At home  only they are given &lsquo;Sal Dhani&rsquo; which they throw outside while leaving  the house . On this day the ladies do not cover their heads . On the  11th day , &lsquo;Kalewa&rsquo; comes from the in-law&rsquo;s side then the ladies and men  take and then go for bath . After a bath they take Gaumutra and milk  and sprinkle this all over inside the house , by this the house is made  pure . On the 11th day again the heads are shaved . We should always  perform a Narayan Shraadh and Sapindikaran Shraadh for a dead person.</p><br><br><a href="#top">go to top</a></p>