
 <div class="container">
     <div class="row" style="border:1px">
                  <% @videos.each do |video| %>
              <div class="span2">
              
  <!--  <%=link_to video.id, video_path(video) %>   -->
                <h2 style="text-align:center">
                  <%= link_to video.title,video_path(video) %> 
                </h2>
                
                 <div class="modal-body">
                     <iframe width="140px" height="140px" src="http://<%= video.youtube %>" frameborder="0" allowfullscreen></iframe>
                  </div>
               <hr>
               <h6><%= video.content %> </h6>

              
      
         

       
       

            </div>
            <!-- Watch Video Button -->





     <% end %>



   
                   <!--/span-->
   </div><!--/row-->
</div><!--/Container-->

<hr>