

      <div class="container navbar nav-pills">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button"></buttton>
     		    <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav nav-tabs nav-justified">
			  <li class="active"><a href="#">Home</a></li>
			  <li><a href="#">Profile</a></li>
			  <li><a href="#">Messages</a></li>
			</ul>
               <ul class="nav nav-pills">

      	        <li><a href="/contact">Contact Us</a></li>
                <li><a href="/privacy_policy">Privacy Policy</a></li>
                <li><a href="/terms_conditions">Terms and Conditions</a></li>
                <li><a style="/follow_us">Follow Us</a><li>  
              </ul>
                <p>&copy; MJ. All rights reserved 2013</p>
            
                  <a href="http://www.linkedin.com/pub/maheshwari-jagruth/78/a82/965"   target="_blank">
                	<img src="/assets/linkedin.png"/>
                  </a>
                 <a href="https://www.facebook.com/maheshwari.jagruth?fref=ts"        target="_blank">
                 	<img src="/assets/image.jpg" />
                 </a>
                <a href="https://twitter.com/maheshwarijgrth" target="_blank">
                	<img src="/assets/download.jpg"/>
                </a>
                <a href="https://plus.google.com/u/0/b/117680248906869416137" target="_blank">
                	<img src="/assets/images.jpg"/>
                </a>
                  
       
      </div>
 </div>




