 <div class="navbar navbar-inverse navbar-top"><!--pannel -->
    <div id="sticky-anchor"></div>
      <div id="sticky">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner nav-pills">
            <div class="container">
              <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="nav-collapse">
                <ul class="nav">
                  <li id="doc">
                
                <!--<a id="headerfont" href="/"><i class="icon-home icon-white"></i>Home</a>
 -->                <a id="headerfont" href="/">
                       <i class="icon-home icon-white"></i>Home
                    </a>

                  </li>
                    <li  id="doc"><a id="headerfont" href="/videos">Events</a></li>
                    <li class="dropdown" id="doc">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">About Us
                        <b class="caret"></b>
                      </a>

                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="/about" >About Us</a></li>
                        <li><a href="/maheshwari">Maheshwari Origin</a></li>
                        <li><a href="/festivals">Festivals</a></li>
                        <li><a href="/traditions">Traditions</a></li>
                        <li><a href="/gotra">Gotra</a></li>
                        <!-- <li><a href="/home">Contact Us</a></li> -->
                       
                        <li class="dropdown-submenu">
                          <a tabindex="-1" href="#">Kuldevis and Surname</a>
                          <ul class="dropdown-menu">
                            <li><a href="/godwisekuldevi">Godwise Kuldevis</a></li>
                            <li><a href="/surnamewisekuldevi">Surname Kuldevis</a></li>
                            <li><a href="/kuldevisedetails">Kuldevis details</a></li>
                          </ul>
                        </li>

                      </ul>
                    </li>
                   <li class="dropdown" id="doc">
                      <a href="/services" style="color:white">MJ Services</a>
                     
                    </li>
                    <li id="doc">
                    <a id="headerfont" href="/socials"></i>MJ Connect</a>
                    </li>

                    <li>
                      <div class="span3">
                        <a data-toggle="modal" href="#example" class="btn btn-primary btn-medium" id="headerfont">Demo Family Tree </a>
                      </div>
        </div>
       </div>
      </div>
    </div>
</div>
